*
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    color: #fff;
    
}

#showcase
{
    background-image: url('../img/party.jpg');
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.8);
    height: 100vh;

}


.nav
{
    
    display: flex;  
    padding: 20px;
    justify-content: center;
    
}

.nav ul
{
  
    list-style: none;
    align-self: center;  
}

.nav a
{
    padding: 0 20px;
   
}

.nav a i
{
    transition: all .2s ease-in-out;
}

.nav a i:hover
{
    color: #8e44ad;
    cursor: pointer;
    transform: scale(1.4);
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    
}

#app-logo
{
    text-align: center;
}

#app
{
    height: 200px;
    width: auto;

   
}

#app-logo h1
{
    font-size: 6em;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

#app-logo h2
{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;

}

#coming
{
    width: 300px;
    height: 100px;
    cursor: pointer;

}

#phone-container
{
    height: 100%;
    width: 500px;
    
}

#phone-screen
{
    height: 100%;
    width: 500px;
}



/********************
    Features

********************/




.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.container div
{
    width: 33.33333%;
    text-align: center;
    padding: 60px;
    margin: 0 auto;
    
}



.container div i
{
    color: #8e44ad;
    margin-top: 10px;
   
}

.container div h2
{
    color: #424242;
    text-align: center;
   
}

.title-block
{
    color: #424242;
    text-align: center;
    margin-top: 25px;
   
}


/********************
    Footer

********************/

footer
{
    background-color: #424242;
    display: flex;
    justify-content: center;
    font-size: 0.5em;
    padding: 10px;
    position: relative;
    bottom: 0px;
  
  
}

footer h1
{
    padding: 0 10px;
    
  
}

footer h1 a
{
    color:#fff;
    text-decoration: none;
    
  
}

footer h1 a:hover
{
    color:#8e44ad;
    
  
}

/********************
    Media

********************/

@media (max-width: 870px) 
{

    
    .nav a 
    {
        font-size: 80%;
       
    
    }

    .content
    {
        position: static;
        display: flex;
        flex-direction: column;
        top: 15%;
        height: 500px;
       
        
    }

    #app
    {
        height: 120px;
        width: 120px;
    }
    #phone-container
    {
        display:none;
        height: 0px;
        width: 0px;
    }


    #phone-screen
    {
        display:none;
        height: 0px;
        width: 0px;
    }

    #app-logo h1
    {
        font-size: 3em;
        
        
    }

    #app-logo h2
    {
        text-align: center;
        font-size: 1em;
        
    }

    #coming
    {
        width: 250px;
        height: 80px;
    }

        /********************
        Features

    ********************/

    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }

    .container div
    {
        width: 70%;
        text-align: center;  
        margin: 0px auto;
        padding: 45px;
       
              
    }



    .container div i
    {
        color: #8e44ad;
        margin-top: 10px;
    
    }

    .container div h2
    {
        color: #424242;
        text-align: center;
    
    }

    .title-block
    {
        color: #424242;
        text-align: center;
        margin-top: 25px;
    
    }


    /********************
        Footer

    ********************/

  
}